.tabs, .tabs2, .tabs3 {
	background-image: url('tab_b.png');
	width: 100%;
	z-index: 101;
	font-size: 13px;
	font-family: Ubuntu, Tahoma, Roboto, sans-serif;
}

.tabs2 {
	font-size: 10px;
}

.tabs3 {
	font-size: 9px;
}

.tablist {
	margin: 0px;
	padding: 0px;
	display: table;
}

.tablist li {
	float: left;
	display: table-cell;
	background-image: url('tab_b.png');
	line-height: 36px;
	list-style: none;
}

.tablist a {
	display: block;
	padding: 0px 20px;
	font-weight: bold;
	background-image: url('tab_s.png');
	background-repeat: no-repeat;
	background-position: right;
	color: #161b23;
	text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.9);
	text-decoration: none;
	outline: none;
}

.tabs3 .tablist a {
	padding: 0px 10px;
}

.tablist a:hover {
	background-image: url('tab_h.png');
	background-repeat: repeat-x;
	color: #ffffff;
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 1.0);
	text-decoration: none;
}

.tablist li.current a {
	background-image: url('tab_a.png');
	background-repeat: repeat-x;
	color: #ffffff;
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 1.0);
}
